@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200&display=swap');

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

.background-img {
  background-image: url('../pages/Pictures/HomepageBackgrounds/pic1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@layer base {
  @font-face {
    font-family: Raleway;
    src: url('../pages/fonts/Raleway-VariableFont_wght.ttf');
  }
  @font-face {
    font-family: Montserrat;
    src: url(../pages/fonts/Montserrat-VariableFont_wght.ttf);
  }
  @font-face {
    font-family: PTSerif;
    src: url(../pages/fonts/PTSerif-Regular.ttf);
  }
  @font-face {
    font-family: Rubik;
    src: url(../pages/fonts/Rubik-VariableFont_wght.ttf);
  }
  @font-face {
    font-family: MuseoSans;
    src: url(../pages/fonts/MuseoSans_500.otf);
  }
  @font-face {
    font-family: Helvetica;
    src: url(../pages/fonts/Helvetica-Bold.ttf);
  }
  @font-face {
    font-family: PTSerifI;
    src: url(../pages/fonts/PTSerif-Italic.ttf);
  }
  @font-face {
    font-family: Catamaran;
    src: url(../pages/fonts/Catamaran-Thin.ttf);
  }
}
